@import '../../assets/scss/button.scss';
.text-require {
    color: $buttonRed;
}

.ant-modal-content {
    .ant-modal-footer {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}