@import '../../assets/scss/button.scss';
@import '../../assets/scss/input.scss';

.input {
    @include inputStyle();
}
.text-require {
    color: $buttonRed;
}

.ant-modal-content {
    .ant-modal-footer {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}