@import './color.scss';

@mixin generalButton() {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: $mainBgWhite;
    padding: 7px 15px;
    border-radius: 10px;
    text-shadow: 0 0.2px 0 $mainBgGray;
    cursor: pointer;
    transition: all 0.1s ease;
}

@mixin acceptButton() {
    @include generalButton();
    //background-color: rgb(28, 91, 217);
    background-color: rgb(245, 152, 31);
    color: white;
    &:hover {
        //background-color: rgb(53, 107, 216);
        background-color: rgb(239, 169, 82);
    }
}

@mixin cancelButton() {
    @include generalButton();
    background-color: rgb(44, 45, 45);
    &:hover {
        background-color: rgb(61, 61, 62);
        color: $buttonRedHover;
    }
}
