@import './color.scss';

@mixin generalButton() {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: $mainBgWhite;
    padding: 7px 15px;
    border-radius: 3px;
    text-shadow: 0 0.2px 0 $mainBgGray;
    cursor: pointer;
    transition: all 0.1s ease;
}

@mixin acceptButton() {
    @include generalButton();
    background-color: $BackgroundButton01;
    color: white;
    &:hover {
        background-color: $BackgroundButton01_hover;
        color: $TextButton01_hover;
    }
}

@mixin cancelButton() {
    @include generalButton();
    background-color: $BackgroundLayer01;
    &:hover {
        background-color: $BackgroundLayer02;
        color: $buttonRedHover;
    }
}
