//$mainGreen: #54bab9;
$mainGreen: #00cec8;

$placeholderGray: #6d6d6d;

$buttonBlack: #212121;
$buttonRed: #ff6464;
$buttonGreenHover: #62d8d7;
$buttonRedHover: #ff8888;

$mainBgGray: #d9d9d9;
$mainBgGrayHover: #c3c3c3;
$mainBgWhite: #f6f6f6;
$taskBgColor: #e4dac1;
$commentBgColor: #c5c5c5;

$statusIconGreen: #65e500;
$statusIconYellow: #e5dc00;
$statusIconRed: #e50000;