// -------------- New Colors ------------------
$BackgroundLayer01: rgb(19, 19, 20);
$BackgroundLayer02: rgb(27, 27, 28);
$BackgroundLayer03: rgb(44, 45, 45);
$BackgroundLayer03_hover: rgb(61, 61, 62);

$BackgroundButton01: rgb(245, 152, 31);
$BackgroundButton01_hover: rgb(239, 169, 82);
$BackgroundButton02: rgb(44, 45, 45);
$BackgroundButton02_hover: rgb(61, 61, 62);

$Border01: rgb(42, 43, 44);

$Text01: rgb(254, 254, 254);

//----------------- Old Colors ----------------
$mainGreen: #00cec8;

$placeholderGray: #6d6d6d;

$buttonBlack: #212121;
$buttonRed: #ff6464;
$buttonGreenHover: #62d8d7;
$buttonRedHover: #ff0000;

$mainBgGray: #d6d6d6;
$mainBgGrayHover: #9d9d9d;
$mainBgWhite: #f6f6f6;
$taskBgColor: #e4dac1;
$commentBgColor: #c5c5c5;

$statusIconGreen: #65e500;
$statusIconYellow: #e5dc00;
$statusIconRed: #e50000;