@import './color.scss';

@mixin inputStyle() {
    padding: 7px 10px;
    border: 1px solid $Border01;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.2s;
    outline: none;

    &:hover {
        border-color: #4096ff;
        border-inline-end-width: 1px;
    }
}
