@import './color.scss';

$light-color: #ebecf0;
$dark-color: $BackgroundLayer03_hover;
$dinamic-backgroud-color-transparent: hsla(0, 0%, 0%, 0.16);

.light-mode {
    background-color: $light-color !important;
    color: $dark-color;
}

.dark-mode {
    background-color: $dark-color !important;
    color: $light-color;
}
