@import './color.scss';

$light-color: $Text01;
$dark-color: $BackgroundLayer02;

.light-mode {
    background-color: $light-color;
    color: $dark-color;
}

.dark-mode {
    background-color: $dark-color;
    color: $light-color;
}
