@import './color.scss';

$light-color: #ebecf0;
$dark-color: $BackgroundLayer02;

.light-mode {
    background-color: $light-color !important;
    color: $dark-color;
}

.dark-mode {
    background-color: $dark-color !important;
    color: $light-color;
}
