@import '../../assets/scss/color';
@import '../../assets/scss/button';
@import '../../assets/scss/theme';

.project-task-page {
    display: grid;
    grid-template-columns: 1fr 4fr;

    .project-list-container {
        max-height: calc(100vh - 60px);
        overflow-y: scroll;
    }
}

.project-list-container {
    border-right: 1px solid #ffffff;
    transition: all 0.3s ease;
    min-height: calc(100vh - 60px);

    &:hover {
        scrollbar-width: thin;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    scrollbar-color: $BackgroundButton01 $BackgroundLayer03;

    .pjl-label {
        padding: 1em;
        border-bottom: 1px solid #ffffff;
        background-color: inherit;
        &.light-mode {
            color: $dark-color;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.project-list {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 150px;
}

.project-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    cursor: pointer;
    height: 100%;
    transition: all 0.2s ease;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    //transition: all 0.2s;
    &.dark-mode {
        background-color: $BackgroundLayer03;
    }
    a {
        text-decoration: none;
        color: #fefefe;
    }

    p {
        font-size: 12px;
    }

    .project-option-button {
        display: grid;
        grid-template-columns: 40px 40px 40px;
        grid-auto-rows: 40px;
        grid-gap: 5px;

        button {
            @include acceptButton();
            border-radius: 50%;
            font-size: 17px;

            &:hover {
                background-color: $BackgroundButton01_hover;
            }
        }
    }
}

.project--nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.project-name--nav {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: $BackgroundButton01;
    a {
        font-size: 1.5em;
    }
}

.task-option--nav {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;

    button {
        @include acceptButton;
    }
}

.project-nav-active {
    text-decoration: none;
    transition: all 0.3s ease;

    > .project-item {
        border: 1px solid $BackgroundButton01;
    }
}

.project-nav-unactive {
    text-decoration: none;
}

.project-task-container {
    max-width: 100vw;
}

@media (max-width: 1200px) {
    .project-task-page {
        grid-template-columns: 1fr;
        .project-list-container {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .project-task-page {
        min-height: calc(100vh - 55px);
        .task-list {
            grid-template-columns: 1fr;
            .task-list-child {
                height: fit-content;
                display: flex;
                width: 95vw;
                .status-label {
                    writing-mode: tb-rl;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                    white-space: nowrap;
                    font-size: 0.8em;
                }
                .task-box {
                    grid-auto-flow: column;
                    grid-template-columns: 1fr;
                    overflow-y: unset;
                    overflow-x: scroll;
                    width: 100%;
                    height: 190px;
                    min-height: 150px;
                    grid-gap: 0.5rem;
                    .task-item {
                        width: 300px;
                        height: 100%;
                    }
                }
            }
        }
    }
    .task-option--nav {
        min-width: 225px;
    }
    .project-name--nav {
        a {
            font-size: calc(1.5vh + 1vw);
            white-space: pre-line;
        }
    }
}
