.header {
  height: 60px !important;
  position: sticky;
  top: 0;
  z-index: 0;
  background-color: rgb(27, 27, 28);
  border-bottom: solid 1px rgb(42, 43, 44);
}

.header-logo {
  img {
    height: 60px !important;
    width: auto;
  }
}