@import '../../assets/scss/button.scss';
@import '../../assets/scss/input.scss';
@import '../../assets/scss/color.scss';

.role-modal {
    .ant-modal-body {
        input {
            @include inputStyle();
            &::placeholder {
                color: $Text01;
            }
        }
        .ant-space-item {
            label {
                color: $Text01;
            }
        }
    }
    .ant-modal-footer {
        .close-role-btn {
            @include cancelButton();
        }
        .submit-role-btn {
            @include acceptButton();
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}
