@import '../../assets/scss/color';
@import '../../assets/scss/input';
@import '../../assets/scss/button';

.wrapper {
    background-color: $mainBgGray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input {
    @include inputStyle;
}

.text-center {
    text-align: center;
}

.form-wrapper {
    background-color: $mainBgWhite;
    padding: 70px 36px;
    border-radius: 7px;
    min-width: 20rem;
}

.form-button {
    width: 80%;
    margin-top: 10px;
    background-color: $BackgroundButton01;
    color: $Text01;
}

.text-require {
    text-align: left;
}

.text-red {
    color: $buttonRed;
}
