@import '../../assets/scss/color';
@import '../../assets/scss/button';
@import '../../assets/scss/input';
@import '../../assets/scss/theme';
.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;

    .search-bar {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .input-search {
            @include inputStyle();
            width: 100%;
            border: none;
            padding: 0;
        }
        .dark-mode {
            color: $dark-color;
        }
    }

    .create-pj-button {
        display: flex;
        justify-content: center;
        min-width: 120px;
        text-align: right;
        button {
            @include acceptButton();
            //padding: 10px 20px;
            margin: 0 10px;
            min-width: 100px;
            height: 38px;
        }
    }
}
