@import "../../assets/scss/color";
@import "../../assets/scss/button";

.change-password-container {
  height: calc(100vh - 60px);
  padding: 2rem;

  .ant-form {
    margin-top: 2rem;
    color: currentColor;

    .ant-form-item {
      color: currentColor;

      .ant-form-item-label {
        color: currentColor;

        label {
          color: currentColor;
        }
      }

      button {
        @include acceptButton();
      }
    }
  }




}