@import '../../assets/scss/color';
@import '../../assets/scss/button';
@import '../../assets/scss/theme';

.invite-container {
    flex: 25%;
    min-width: 200px;
    max-width: 400px;
    min-height: calc(100vh - 60px);
    border-right: 1px solid #fff;
    z-index: auto;

    &.light-mode {
        background-color: $dinamic-backgroud-color-transparent;
        backdrop-filter: blur(6px);
    }
    .invite-label {
        padding: 20px 0;
        color: $Text01;
        .dark-mode {
            background-color: hsla(0, 0%, 100%, 0.16);
            color: $light-color;
        }
        h3 {
            text-align: center;
            padding: 1em;
        }
    }

    .invite-item {
        padding: 1rem;
        border-radius: 3px;
        margin-bottom: 10px;
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.16);
        }

        .invite-name {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                padding: 0.5rem;
                overflow: hidden;
            }

            .collapse-icon {
                right: 15px;
                top: 22px;
            }
        }

        .ReactCollapse--collapse {
            transition: height 500ms;
        }

        .invite-info {
            margin: 10px 0;
            padding: 10px 0.5em;
            border: 1px solid $Border01;
            font-size: 13px;
            transition: all 0.2s ease;
        }

        .invite-reply {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .accept-button {
                @include acceptButton();
                margin-left: 5px;
                border: none;
            }

            .cancel-button {
                @include cancelButton();
                border: none;
            }
        }
    }
}
