@import '../../assets/scss/color';
@import '../../assets/scss/button';
@import '../../assets/scss/theme';

.invite-container {
    flex: 25%;
    max-width: 400px;
    min-height: calc(100vh - 60px);
    border-right: 1px solid #fff;
    z-index: auto;
    position: relative;
    transition: all 0.06s ease-out;
    transform-origin: 0 50%;

    &.light-mode {
        background-color: $dinamic-backgroud-color-transparent;
        backdrop-filter: blur(6px);
    }
    .invite-label {
        padding: 8px 0;
        color: $Text01;
        .dark-mode {
            background-color: hsla(0, 0%, 100%, 0.16);
            color: $light-color;
        }
        h3 {
            text-align: center;
            padding: 1em;
        }
    }

    .invite-item {
        padding: 1rem;
        border-radius: 3px;
        margin-bottom: 10px;
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.16);
        }

        .invite-name {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                padding: 0.5rem;
                overflow: hidden;
            }

            .collapse-icon {
                right: 15px;
                top: 22px;
            }
        }

        .ReactCollapse--collapse {
            transition: height 500ms;
        }

        .invite-info {
            margin: 10px 0;
            padding: 10px 0.5em;
            border: 1px solid $Border01;
            font-size: 13px;
            transition: all 0.2s ease;
        }

        .invite-reply {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .accept-button {
                @include acceptButton();
                margin-left: 5px;
                border: none;
            }

            .cancel-button {
                @include cancelButton();
                border: none;
            }
        }
    }
}

.visible-invite-button {
    position: fixed;
    width: 25px;
    height: 6rem;
    font-size: 20px;
    top: calc(50vh - (50vh - 50%) - 3rem);
    left: 0;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50% 50% 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    //background-color: $BackgroundButton01;
    //color: $Text01;
}


@media (max-width: 1000px) {
    .invite-container {
        visibility: hidden;
        transform: scaleX(0);
        flex: 0;
        position: fixed;
        z-index: 2;
        width: 100vw;

        .invite-label {
            padding: 0;
        }
    }



    .invite-visible-true {
        visibility: visible;
        transform: scaleX(1);
    }

    .visible-invite-button {
        visibility: visible;
        transform: scale(1);
        z-index: 3;
    }
}