@import '../assets/scss/color.scss';
@import '../assets/scss/button.scss';
@import '../assets/scss/theme';

.header {
    height: 60px !important;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(27, 27, 28);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    &.light-mode {
        background-color: $dinamic-backgroud-color-transparent;
        backdrop-filter: blur(6px);
    }
}

.header-logo {
    margin-left: 20px;
    img {
        height: 60px !important;
        width: auto;
    }
}

.header-button {
    position: relative;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    span {
        &.light-mode,
        a.light-mode {
            background-color: transparent;
        }
    }

    .user-avatar {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 35px;
            width: auto;
            border-radius: 50%;
        }
    }

    span {
        font-size: 15px;
        font-weight: 300;
        margin-right: 15px;
    }

    a {
        text-decoration: none;
    }
}

.nav-modal {
    position: absolute;
    z-index: 100;
    right: -120px;
    top: -30px;
    background-color: $BackgroundLayer02;
    padding: 15px;
    border-radius: 10px;
    min-width: 300px;
    border: 1px solid $Border01;
    transition: all 0.3s ease-out;
    visibility: hidden;
    transform: scale(0);

    a {
        color: currentColor;
    }
}

.modal-user-info {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;

    img {
        height: 40px !important;
        width: auto;
        border-radius: 50%;
    }

    .inf{
        padding-left: 1rem;
    }
    .inf-small {
        font-size: 13px;
    }
}

.modal-user-actions {
    margin-top: 10px;

    button {
        @include cancelButton();
        color: $buttonRed;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .welcome-text {
        display: none;
    }
}