@import "../../assets/scss/color.scss";

.task-list {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.task-list-child {
  height: 80vh;
  border: 1px solid $Border01;
  border-radius: 10px;
  box-shadow: 1px 4px rgb(18, 18, 18);
  background-color: $BackgroundLayer02;
}

.status-label {
  height: 5%;
  padding: 10px;
  background-color: $BackgroundButton01;
  border-radius: 10px;
  box-shadow: 1px 1px  $BackgroundLayer03;
  color: $Text01;
  font-weight: 500;
  text-align: center;
}

.task-box {
  padding-top: 5px;
  overflow-y: scroll;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
  border-radius: 10px;
}

.task-item {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid $Border01;
  border-radius: 10px;
  background-color: $BackgroundLayer03;
  color: $Text01;


  &:hover {
    background-color: $BackgroundLayer03_hover;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

